<% layout('layouts/boilerplate') %>
    <div id="map" style="width: 100%; height:500px"></div>
<h1>campgrounds</h1>
    <a href="/campgrounds/new"> Create campground </a>
   
      <% for(let campground of campgrounds){ %>
      
        <div class="card mb-3" >
          <div class="row">
            <div class="col-md-4">
              <% if(campground.images.length){ %>
              <img crossorigin="anonymous" src="<%= campground.images[0].url %>" alt="image" class="img-fluid">
              <% }else{ %>
                <img crossorigin="anonymous" src="https://res.cloudinary.com/dbwrrqib0/image/upload/v1706530742/yelpcamp/tqd9kneakfy0jfv2r9ng.jpg" alt="image" class="img-fluid"> 
                <% } %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">
                  <small class="text-muted"><%= campground.location %></small>
                </p>
               <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View: <%= campground.title %> </a>
              </div>
            </div>
          </div>
        </div>
        <!--<%= campground.title %><a href="/campgrounds/<%= campground._id %>">:details</a> -->

      <% } %>
  
      <script>
        const maptoken = '<%- process.env.MAPBOX_TOKEN %>';
        const campgrounds = {features:<%- JSON.stringify(campgrounds) %>}
      </script>
   <script crossorigin="anonymous" src="/javascripts/clustermaps.js"></script>

 
